<section class="content-header">
  <h1>
    Dashboard
    <small>Cases</small>
  </h1>
</section>
<section class="content">
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Pending Cases</h3>
            <div class="box-tools">
              <div class="input-group">
                <%= link_to '<i class="fa fa-plus"></i> Add Case'.html_safe, new_case_path, class: "btn btn-success" %>
              </div>
            </div>
          </div><!-- /.box-header -->
          <br>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tbody><tr>
                <th>Budget</th>
                <th>Name</th>
                <th>Amount Recieved</th>
                <th>Assigned Manager</th>
                <th>State</th>
                <th>Manage Case</th>
              </tr>
              <%@cases.each do |c|%>
                <tr>
                  <td><%= c.budget %></td>
                  <td><%= c.name %></td>
                  <td><%= c.recieved.to_f %></td>
                  <td>
                    <% if c.user %>
                      <%= c.user.first_name %>
                    <% else %>
                      <%= select_tag :user_id, options_for_select(User.all.collect{ |u| [u.first_name, u.id] }), {:prompt=>"Select a Manager", class: "form-control", 
                          data: {
                            remote: true,
                            url: manager_case_path(c)
                          }
                        }
                      %>
                    <% end %>  
                  </td>
                  <td><%= link_to 'Accept', accept_case_path(c), class: "btn btn-xs btn-success", :remote => true%>
                  <%= link_to 'Reject', reject_case_path(c), class: "btn btn-xs btn-danger", :remote => true %></td>
                  <td><%= link_to 'Show', c, class: "btn btn-xs btn-primary" %>
                  <%= link_to 'Edit', edit_case_path(c), class: "btn btn-xs btn-warning" %>
                  <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
                </tr>
              <%end%>
              <%if @cases.count < 1%>
              <tr>
                <td colspan="6" class="box-title"><h3>There are no cases yet. Add some</h3></td>
              </tr>
              <%end%>
            </tbody></table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Open Cases</h3>
          </div><!-- /.box-header -->
          <br>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tbody><tr>
                <th>Budget</th>
                <th>Name</th>
                <th>Amount Recieved</th>
                <th>Assigned Manager</th>
                <th>State</th>
                <th>Actions</th>
              </tr>
              <%@open_cases.each do |c|%>
                <tr>
                  <td><%= c.budget %></td>
                  <td><%= c.name %></td>
                  <td><%= c.recieved.to_f %></td>
                  <td>
                    <% if c.user %>
                      <%= c.user.first_name %>
                    <% else %>
                      <%= select_tag :user_id, options_for_select(User.all.collect{ |u| [u.first_name, u.id] }), {:prompt=>"Select a Manager", class: "form-control", 
                          data: {
                            remote: true,
                            url: manager_case_path(c)
                          }
                        }
                      %>
                    <% end %> 
                  </td>
                  <td><%= link_to 'Complete', close_case_path(c), class: "btn btn-xs btn-primary", :remote => true %></td>
                  <td><%= link_to 'Show', c, class: "btn btn-xs btn-primary" %>
                  <%= link_to 'Edit', edit_case_path(c), class: "btn btn-xs btn-warning" %>
                  <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
                </tr>
              <%end%>
              <%if @open_cases.count < 1%>
              <tr>
                <td colspan="6" class="box-title"><h3>There are no open cases yet</h3></td>
              </tr>
              <%end%>
            </tbody></table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Rejected Cases</h3>
          </div><!-- /.box-header -->
          <br>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tbody><tr>
                <th>Budget</th>
                <th>Name</th>
                <th>Amount Recieved</th>
                <th>State</th>
                <th>Actions</th>
              </tr>
              <%@rejected_cases.each do |c|%>
                <tr>
                  <td><%= c.budget %></td>
                  <td><%= c.name %></td>
                  <td><%= c.recieved.to_f %></td>
                  <td><span class="label label-danger"> Rejected </span></td>
                  <td><%= link_to 'Show', c, class: "btn btn-xs btn-primary" %>
                  <%= link_to 'Edit', edit_case_path(c), class: "btn btn-xs btn-warning" %>
                  <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
                </tr>
              <%end%>
              <%if @rejected_cases.count < 1%>
              <tr>
                <td colspan="5" class="box-title"><h3>There are no rejected cases yet</h3></td>
              </tr>
              <%end%>
            </tbody></table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Closed Cases</h3>
          </div><!-- /.box-header -->
          <br>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tbody><tr>
                <th>Budget</th>
                <th>Name</th>
                <th>Amount Recieved</th>
                <th>Assigned Manager</th>
                <th>State</th>
                <th>Actions</th>
              </tr>
              <%@closed_cases.each do |c|%>
                <tr>
                  <td><%= c.budget %></td>
                  <td><%= c.name %></td>
                  <td><%= c.recieved.to_f %></td>
                  <td><%= c.user.first_name %></td>
                  <td><span class="label label-primary"> Closed </span></td>
                  <td><%= link_to 'Show', c, class: "btn btn-xs btn-primary" %>
                  <%= link_to 'Edit', edit_case_path(c), class: "btn btn-xs btn-warning" %>
                  <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
                </tr>
              <%end%>
              <%if @closed_cases.count < 1%>
              <tr>
                <td colspan="6" class="box-title"><h3>There are no closed cases yet</h3></td>
              </tr>
              <%end%>
            </tbody></table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
  <%else%>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Listing Cases</h3>
            <div class="box-tools">
              <div class="input-group">
                <%= link_to '<i class="fa fa-plus"></i> Add Case'.html_safe, new_case_path, class: "btn btn-success" %>
              </div>
            </div>
          </div><!-- /.box-header -->
          <br>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <tbody><tr>
                <th>Name</th>
                <th>Budget</th>
                <th>Actions</th>
              </tr>
              <%@cases.each do |c|%>
                <tr>
                  <td><%= c.name %></td>
                  <td><%= c.budget %></td>
                  <td><%= link_to 'Show', c, class: "btn btn-xs btn-primary" %></td>
                </tr>
              <%end%>
              <%if @cases.count < 1%>
              <tr>
                <td colspan="3" class="box-title"><h3>You don not have any assigned cases yet</h3></td>
              </tr>
              <%end%>
            </tbody></table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
  <%end%>
</section>  

<script>
  $("ul.sidebar-menu li").removeClass("active")
  $("ul.sidebar-menu li#cases").addClass("active")
</script>  
