<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h2>Error!</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-body">
    <div class="form-group">
      <label>First Name</label>
      <%= f.text_field :first_name, :class=> "form-control", :placeholder=>"First Name" %>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <%= f.text_field :last_name, :class=> "form-control", :placeholder=>"Last Name" %>
    </div>
    <div class="form-group">
      <label>Email address</label>
      <%= f.email_field :email, :class=> "form-control", :placeholder=>"Email" %>
    </div>
    <div class="form-group">
      <label>Password</label>
      <%= f.password_field :password, :class=> "form-control", :placeholder=>"Password" %>
    </div>
    <div class="form-group">
      <label>Mobile Number</label>
      <%= f.text_field :mobile_number, :class=> "form-control", :placeholder=>"Mobile Number" %>
    </div>
  </div><!-- /.box-body -->
  <%= f.hidden_field :role_cd, value: 1 %>
  <div class="box-footer">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>