<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%= afunds %><sup style="font-size: 16px">PKR</sup></h3>
          <p>Donations Recieved</p>
        </div>
        <div class="icon">
          <i class="ion ion-cash"></i>
        </div>
        <a href="/cases" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= funds %><sup style="font-size: 16px">PKR</sup></h3>
          <p>Donations Remaining</p>
        </div>
        <div class="icon">
          <i class="ion ion-cash"></i>
        </div>
        <a href="/donations" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%= required %><sup style="font-size: 16px">PKR</sup></h3>
          <p>Donations Required</p>
        </div>
        <div class="icon">
          <i class="ion ion-cash"></i>
        </div>
        <a href="/donations" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= managers %></h3>
          <p>Case Mangers</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="/users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%= pending %></h3>
          <p>Pending Cases</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-medkit"></i>
        </div>
        <a href="/cases" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= open %></h3>
          <p>Open Cases</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-medkit"></i>
        </div>
        <a href="/cases" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= closed %></h3>
          <p>Closed Cases</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-medkit"></i>
        </div>
        <a href="/cases" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%= rejected %></h3>
          <p>Rejected cases</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-medkit"></i>
        </div>
        <a href="/users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
  </div><!-- /.row -->
  <!-- Main row -->

</section><!-- /.content -->

<section class="report-graph">
  <div class="container-fluid">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Case Details</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-2">
            <a href="javascript:void(0)" data-name="weekly" class="change-cases btn btn-primary">Last Week</a>
          </div>
          <div class="col-md-2">
            <a href="javascript:void(0)" data-id="1" class="change-cases btn btn-primary">Last 1 month</a>
          </div>
          <div class="col-md-2">
            <a href="javascript:void(0)" data-id="3" class="change-cases btn btn-primary">Last 3 months</a>
          </div>
          <div class="col-md-2">
            <a href="javascript:void(0)" data-id="6" class="change-cases btn btn-primary">Last 6 months</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 cases-chart">
            <div id="cases-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <%= render :partial => "cases" %>
          </div>
        </div>
      </div>
    </div>  
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Donation Details</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-2">
            <a href="javascript:void(0)" data-name="weekly" class="change-donations btn btn-primary">Last Week</a>
          </div>
          <div class="col-md-2">
            <a href="javascript:void(0)" data-id="1" class="change-donations btn btn-primary">Last 1 month</a>
          </div>
          <div class="col-md-2">
            <a href="javascript:void(0)" data-id="3" class="change-donations btn btn-primary">Last 3 months</a>
          </div>
          <div class="col-md-2">
            <a href="javascript:void(0)" data-id="6" class="change-donations btn btn-primary">Last 6 months</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 sales-chart">
            <div id="donations-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <%= render :partial => "donations" %>
          </div>
        </div>
      </div>  
    </div>  
  </div>
</section>

<style type="text/css">
  .content{
    min-height: auto;
  }
</style>

<script>
  $("ul.sidebar-menu li").removeClass("active");
  $("ul.sidebar-menu li#reports").addClass("active");
  $(".change-cases").click(function(){
    $.ajax({
      type: "POST",
      url: "/caseReports",
      data: {
        month: $(this).attr("data-id")
      },
      dataType: "script",
      success: function () {
      }
    });
  }); 

  $(".change-donations").click(function(){
    $.ajax({
      type: "POST",
      url: "/donationReports",
      data: {
        month: $(this).attr("data-id")
      },
      dataType: "script",
      success: function () {
      }
    });
  }); 
</script>  